* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.bd {
  background: linear-gradient(-45deg, #e5f6ff7c, #ccefff, #d0f0fd, #e5f6ff7c);
  background-size: 400% 400%;
  animation: gradientShift 15s ease infinite;

  @keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

.inputFile {
  display: none;
  padding: 10px 15px;
  background: radial-gradient(#b5e6defb, #48c2bcfb);
  /* linear-gradient(to bottom right,#dee7e6fb,#48c2bcfb); */
}

/* .pdf-label {
  font-size: 120px;
  font-family: "Aclonica", cursive;
  color: #ffffff;
  position: absolute;
  width: 300px;
  top: 45px;
  right: 50%;
} */

.extraction {
  position: fixed;
  top: 100vh;
  left: 0;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: hsla(211, 51%, 66%, 0.966);
  transform: translateY(100%);
  transition: transform 1s ease-in-out;
  z-index: 10;
  overflow-y: auto;
}
.extraction.show {
  transform: translateY(0);
  top: 0;
  color: li;
}
.slide-text {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 15s linear infinite;

  color: white;
  font-size: 120px;
  font-family: "Inter";
  letter-spacing: 13px;
  /* prevents text wrapping while animating */
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.promo {
  overflow: hidden; /* hides text outside the box */
  white-space: nowrap; /* keeps text in a single line */
  width: 100%;
  position: absolute;
  top: 28%;
}

.promo h2 {
  text-align: center;
  font-size: 75px;
  color: rgba(0, 0, 0, 0.795);
}

.a {
  width: 320px;

  align-items: center;
  text-align: center;
  margin: 0px 51px;
  padding: 5px 25px;

  align-self: center;
}

.glassy {
  font-family: "Inter";
  margin: 5px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  color: black;
  max-width: 200px;
}

/* responsiveness */

@media only screen and (min-width: 300px) and (max-width: 768px) {
  .circle {
    width: 400px;
    height: 380px;
    border-bottom-left-radius: 800px;
    position: absolute;
    top: 0;
    right: 0%;
    z-index: -10;
    box-shadow: -20px 20px 40px rgba(0, 0, 0, 0.2);

    background: radial-gradient(circle at top right, #b8d4f8, #9cc0f0c0 70%);
    opacity: 0.9;
  }
  .landingPage {
    margin: 30px auto;
    flex-direction: column;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1900px) {
  .circle {
    width: 700px;
    height: 640px;
    border-bottom-left-radius: 800px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -10;
    background: radial-gradient(circle at top right, #b8d4f8, #9cc0f0c0 70%);
    box-shadow: -20px 20px 40px rgba(0, 0, 0, 0.2);
    opacity: 0.9;
  }

  .landingPage {
    flex-direction: row;
  }

  .text {
    position: relative;
    left: -180px;
    top: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
}
